@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Opdracht</h1>
    <p>De totale waarde van alle getallen in de even kolommen tot en met kolom 20 is: <br /> 
    <b>@ViewData["Som"]</b>
    </p>
</div>
