@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Opdracht</h3>
    <p>De totale waarde van alle getallen in de even kolommen tot en met kolom 20 is: </p>
    <br />
    <p>
    @ViewData["Totaal"]
    </p>
</div>
